# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Editor files
.vscode/
.idea/

# Temporary files
tmp/

# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db